@CHARSET "ISO-8859-1";

*, p {
	font-family: Arial, Helvetica, sans-serif;
}

html, body {
	height: 100%;	
}

.center {
	text-align: center;
	width: 80%;
	margin: auto;
}

.navbar-inverse {
	background-color: black;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

.footer {
	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
	left:0;
}

.footer > .navbar {
	margin-bottom: 0px;
}

#content {
	width: 80%;
	border: 1px solid grey;
	margin: auto;
	margin-top: 15px;
	padding: 10px;
}

#players {
	width: 120px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=text] {
	width: 250px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	display:none;
	}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#startGame {
	margin-top: 25px;
	margin-bottom: 50px;
}

.btn-googleplay, .btn-facebook {
	height: 50px;
	background-color: black;
	color: white;
	vertical-align: middle;
	float: left;
}

.btn-facebook {
	float: right;
	margin-right: 100px;
}

.btn-googleplay {
	margin-left: 60px;
}

#facebooktext, #googleplaytext {
	height: 50px;
	line-height: 40px;
	margin-right: 5px;
}

#googleplaytext {
	margin-left: 5px;
}

.btn-secondary {
	height: 50px;
	background-color: black;
	color: white;
	vertical-align: middle;
	float: left;
	width: 100%;
}

.btn-secondary:hover {
	background-color: white;
	color: black;
}

.footer .nav>li>a {
	padding: 5px;	
}

.nav>li>a:focus, 
.nav>li>a:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
}

#fbIcon {
	height: 40px;
	width: 40px;
	float: right;
}

#playstoreIcon {
	height: 40px;
	width: 120px;
	float: left;
}

#wizardIcon {
	width: 25px;
	height: 25px;
}


@media (max-width: 1200px) {
	.btn-facebook {
		margin-right: 50px;
	}
	.btn-googleplay {
		margin-left: 10px;
	}
}

@media (max-width: 1050px) {
	#facebooktext, #googleplaytext {
		display: none;
	}
}

@media (max-width: 767px) {
	.btn-secondary {
		width: 50%;
	}
	.center {
		width: 95%;
	}
}

@media (max-width: 500px) {
	.btn-facebook {
		float: none;
		margin-right: 40px;
	}
	.btn-googleplay {
		float: none;
		margin-left: 0px;
	}
}
